@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.heading{
  width: 100%;
    max-width: 500px;
    border: 5px solid red;
    text-align: center;
    padding: 100px;
    width: 500px;  
}
.heading1{
    /* 500px+5px+5px+100px+100px */
     border-radius:60px;
    color:  rgb(100,20,79);
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
}

.heading2{
    /* 500px+5px+5px+100px+100px */
     border-radius:80px;
    color:  rgb(179, 130, 166);
    font-size: 45px;
    font-family: "Roboto Condensed", sans-serif;
}